#nav{
    background-color: #212525;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
#logo{
    height: 50px;
    width: 140px;
    background-image: url("logo.png");
    background-size: cover;
}
#login {
    height: 50 px;
    width: 90px;
    font-size: 20px;
    color: white;
}
#link{
    color:white;
}
#Title{
    
    background-color: white;
    /* display: flex;
    justify-content: center; */
    margin-top: 0px;
    
    
}
#para{
    font-size: xx-large;
    margin-top: 0px;
    margin-left: 225px;
    background-color: white;
    font-weight: 600;
}
#inpbox{
    font-size: 25px;
    margin-left: 225px;
}
#btn{
    margin-left: 225px;
    height: 25px;
    width: 80px;
}
.input{
    height: 20px;
    width: 200px;
}